/programs/mingw32
/programs/8 2018-q4-major
/modules
settings.json

# un ignore certain items in the modules directory
!/modules/template-arduino
!/modules/template-native
!/modules/.vscode
!/modules/.clang-format
